<ng-template ngIf="tasks$ !== null">
  <h4>My tasks</h4>
  <div class="row" *ngFor="let task of tasks$ | async; let i = index">
    <div class="col-sm">
      <div class="card mb-1" >
        <div class="card-body">
          <span class="float-right">{{ task.displayDate }}</span>
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text">{{ task.description }}</p>
          <form class="float-right" [formGroup]="completedForms[i]">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="completed" formControlName="completed">
              <label class="form-check-label" for="completed">Completed</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
