.panel-container {
  position: fixed;
  right: 0;
  min-width: 30%;
  height: 100%;
  border-left-style: inset;
  background: white;
  border-left-width: thin;
  box-shadow: -0.25rem 0 0.15rem gray;
  z-index: 999;
  padding: 1rem;
}
