.calendar-container {
  .days-row {
    display: flex;
    flex-direction: row;

    p {
      flex: 1;
      padding: 2px;
    }
  }

  .dates-row {
    display: flex;
    flex-direction: row;

    .date-cell {
      flex: 1;
      min-height: 6rem;

      .day {
        cursor: pointer;
      }

      .event-summary {
        width: 95%;
        text-align: left;
      }
    }
  }
}
