<app-create-event></app-create-event>

<div class="calendar-container">
  <div class="days-row">
    <p>Mon</p>
    <p>Tue</p>
    <p>Wed</p>
    <p>Thu</p>
    <p>Fri</p>
    <p>Sat</p>
    <p>Sun</p>
  </div>
  <div class="dates-row" *ngFor="let row of cellValues">
    <div class="date-cell" *ngFor="let cell of row">
      <ng-container *ngIf="!cell.empty">
        <div [ngClass]="cell.classes">
          <span class="day" (click)="viewDay(cell)">{{ cell.value }}</span>
        </div>
        <div *ngFor="let event of cell.events">
          <span class="badge badge-secondary event-summary">{{ (event.summary.length > SUMMARY_MAX_LENGTH) ? (event.summary | slice:0:(SUMMARY_MAX_LENGTH - 3)) + '...' : event.summary }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-day-management *ngIf="manageDay" [manageDay]="manageDay"></app-day-management>
