<div class="container mb-5">
  <div class="row mt-1 mb-2">
    <div class="col-sm">
      <h2>Evelyn</h2>
    </div>
    <div class="col-sm">
      <button class="btn btn-primary float-right" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm">
      <app-profile-summary></app-profile-summary>
    </div>
    <div class="col-sm">
      <a routerLink="/calendar">My calendar</a>
    </div>
    <div class="col-sm">
      <app-create-task></app-create-task>
    </div>
  </div>
  <app-manage-tasks></app-manage-tasks>
  <app-create-todo></app-create-todo>
  <app-manage-todos></app-manage-todos>
</div>
